@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Light;
    src: url('./fonts/ProductSans-Light.ttf');
  };

@font-face {
    font-family: Medium;
    src: url('./fonts/ProductSans-Medium.ttf');
  };

@font-face {
    font-family: Bold;
    src: url('./fonts/ProductSans-Bold.ttf');
  };